/*GRID HEADER NAV FOOTER*/

body {
    display: grid;
    grid-template-columns: 14vw auto;
    grid-template-rows: 20vh 60vh 20vh;
    margin: 0;
    background-color: #E6E6E6;
}

/*HEADER_RIGHT*/

header {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 55vw auto;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
}

header h1 {
    margin-left: 10vw;
    font-family: "Montserrat";
}

.champ_header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header input {
    width: 15vw;
    height: 6vh;
    border-radius: 50px;
    padding-left: 1.5vw;
    border: none;
    background-color: #E6E6E6;
    font-family: "Assistant";
    font-size: 1rem;
}

#logo_compte {
    width: 4vw;
    height: 8.5vh;
}

/*HEADER_LEFT*/

.header_left {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 3vw 8vw 3vw;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
}

.logo {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo h2 {
    margin: 0px 0px;
    font-family: "Montserrat";
}

.logo img {
    width: 6vw;
}

.header_left button {
    width: 2vw;
    align-self: center;
    background-color: black;
    border: none;
    padding: 0;
    margin-left: 0.4vw;
}

.header_left button img {
    width: 2vw;
}

/*NAV*/

nav {
    grid-row: 2;
    grid-column: 1;
    background-color: black;
    color: white;
    position: fixed;
    top: 20vh;
    width: 14vw;
    height: 60vh;
}

nav button {
    background-color: #660091;
    color: white;
    display: flex;
    align-items: center;
    padding: 1.2vh 1vw 1.2vh 0.6vw;
    justify-self: center;
    margin: 1vh 0vw 4vh 0vw;
    font-family: "Assistant";
    font-weight: bolder;
}

nav button img {
    margin-right: 0.3vw;
}

.sous_nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 2vh 0vw;
    font-family: "Assistant";
    display: flex;
    align-items: center;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

#bouton_accueil {
    background-color: #004BD7;
}

.sous_nav img {
    margin: 0vh 1.5vw 0vh 2.5vw;
}

#coffres, #aide {
    margin: 0vh 1.8vw 0vh 2.8vw;
}

nav h3 {
    font-family: "Assistant";
}

/*FOOTER*/

footer {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 11vw 3vw;
    background-color: black;
    color: white;
    position: fixed;
    top: 80vh;
    width: 14vw;
    height: 20vh;
}

.sous_footer {
    grid-column: 1;
    display: flex;
    align-items: center;
}

.sous_footer img {
    margin: 0vh 1.3vw 0vh 2.8vw;
}

footer button {
    width: 2vw;
    align-self: center;
    background-color: black;
    border: none;
    padding: 0;
    margin-left: 0.4vw;
}

footer button img {
    width: 2vw;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 2vh 0vw;
    font-family: "Assistant";
    display: flex;
    align-items: center;
}

footer a:visited {
    color: white;
    text-decoration: none;
}

/* MAIN */

main {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    padding: 4.5vh 4vw;
    justify-content: space-between;
    font-family: "Assistant";
}

main a {
    background-color: white;
    padding: 2rem;
    margin: 1vh 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

main h3 {
    font-family: "Montserrat";
}

.recents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recents div {
    display: flex;
    align-items: center;
}

.recents img {
    margin-left: 0.7vw;
}

.justificatifs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.justificatifs div {
    display: flex;
    align-items: center;
}

.justificatifs img {
    height: auto;
    margin-left: 0.7vw;
}

.filtre {
    margin-left: 58vw;
}

