/*Réinitaliser le style par défaut + couleur arrière plan + apparence bouton et curseur*/

body {
    margin : 0;
    background-color: #E6E6E6;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/*Police d'écriture*/

h1, h2, h3, h4 {
    font-family: "Montserrat";
}

p, a, input {
    font-family: "Assistant";
}

/*Header*/

header a, #inside_burger {
    display: none;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
}

#logo_arcance {
    width: 4rem;
}

#logo_compte {
    width: 3rem;
}

#logo_burger {
    width: 2.3rem;
}

header button {
    display: flex;
}

header button:first-child {
    width: 60px;
    padding: 0;
    justify-content: center;
}

/*Menu burger*/

#inside_burger {
    padding : 1rem;
    height: 100%;
    background-color: black;
    flex-direction: column;
    position: fixed;
}

.link_inside_burger {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

/*Main*/

main a {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: black;
}

main a div {
    display: flex;
    align-items: center;
}

main a div p {
    margin: 0rem 1rem;
    text-decoration: none;
}

#head_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;
    flex-wrap: wrap;
}

main input {
    height: 2rem;
    border: none;
    border-radius: 50px;
    padding-left: 1rem;
    margin: 0rem 1rem;
    width: 9rem;
}

main h3 {
    margin-left: 1rem;
}

.pdf {
    width: 2rem;
}

main button {
    display: flex;
    align-items: center;
}

main img {
    width: 0.25rem;
}

#conteneur_bouton_plus {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    position: sticky;
    bottom: 1rem;
}

#conteneur_bouton_plus button {
    padding: 0rem;

}

#bouton_plus {
    width: 4rem;
}

/* Footer */

#conteneur_footer {
    background-color: black;
    display: grid;
    grid-template-rows: auto;
    padding: 1rem;
}

.logo_reseaux {
    width: 2rem;
}

#reseaux_sociaux {
    display: flex;
    width: 8rem;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
}

#mentions_legales {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

#plan_site {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    justify-content: center;
}

#plan_site p {
    font-weight: bold;
    margin: 0.5rem 0;
}

footer a {
    color: white;
    text-decoration: none;
}

#barre_violette {
    height: 0.7rem;
    background-color: #660091;
    margin-top: 1rem;
}

/* Responsive */

@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: auto 768px auto;
    }

    header, footer {
        grid-column: 1 / span 3;
    }

    header button:first-child {
        display: none;
    }

    header a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
    }

    main {
        grid-column: 2;
    }

    #conteneur_footer {
        grid-template-columns: auto auto auto;
    }

    #mentions_legales {
        padding: 0;
    }
}